__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.py[cod]
*.swp
*.swo
*~
.DS_Store
.vscode/
.git/
.gitignore
.env
.env.*
__pycache__/
*/__pycache__/
*/.pytest_cache/
thefiltershop/media/
thefiltershop/db.sqlite3_thefiltershop
thefiltershop/pyvenv.cfg
