# Django
DEBUG=false
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,thebuoy.eu,www.thebuoy.eu
CSRF_TRUSTED_ORIGINS=https://thebuoy.eu,https://www.thebuoy.eu

# PostgreSQL
POSTGRES_DB=thebuoy
POSTGRES_USER=thebuoy
POSTGRES_PASSWORD=change-me