{% extends 'admin/change_list.html' %}

{% block content %}
    <div class="submit-row">
        <form method="post" enctype="multipart/form-data" action="{% url 'admin:fill_model_from_json' %}">
            {% csrf_token %}
            <input type="submit" value="Refresh list of all applications from Steam">
        </form>
        <form method="post" enctype="multipart/form-data" action="{% url 'admin:fill_model_from_json' %}">
            {% csrf_token %}
            <label for="id">Steam ID:</label>
            <input type="number" name="appid" required>
            <input type="submit" value="Fetch game data from Steam">
        </form>
    </div>
{% endblock %}