{% extends "thefiltershop/base.html" %}
{% load static %}

{% block main_content %}
    <div class="Sub-Menu">
        <a href="/">Under the spotlight!</a>  <a href="{% url 'filtershop_games:artisans_games' %}">Artisan's games</a>  <a href="{% url 'filtershop_games:indies_games' %}">Indie's games</a>  
        <a href="{% url 'filtershop_games:game_filters' %}">Filters for games</a>  <a href="{% url 'filtershop_games:they_made_it' %}">They made it!</a>
        <a href="{% url 'filtershop_games:best_of_the_rest' %}">Best of the rest...</a>
    </div>
    <div class="search_input">
        <img width="40" src="{% static 'images/Search.png' %}" alt="Search">
        <form action="/search_game/" method="get">
            <input id="search" name="search" type="text" value="" minlength="3" required />
            <input type="submit" hidden />
        </form>
    </div>
    <div class="leftcolumn">
        {% include "thefiltershop/left_column_games.html"%}
    </div>
    <div class="centercolumn">
        {% block content %}
        {% endblock %}
    </div>
    <div class="rightcolumn">
        {% include "thefiltershop/right_column_games.html"%}
    </div>
{% endblock %}