{% extends "thefiltershop/base.html" %}

{% block main_content %}
<div class="Sub-Menu">
<!-- Glametrix Bold --><a href="{% url 'filtershop_games:index_online_shops' %}">Under the spotlight!</a>  <a href="{% url 'filtershop_games:online_artisans_shops' %}">Artisans</a>  <a href="{% url 'filtershop_games:online_indies_shops' %}">Indies shops</a>
<a href="{% url 'filtershop_games:online_other_shops' %}">Other shops</a>  <a href="{% url 'filtershop_games:online_shop_filters' %}">Filters for online shops</a>  <a href="{% url 'filtershop_games:they_made_it_online_shops' %}">They made it!</a>
</div>
    {% block content %}
    {% endblock %}
{% endblock %}