{% extends "thefiltershop/base.html" %}
{% load static %}

{% block main_content %}
    <div class="search_input">
        <img width="40" src="{% static 'images/Search.png' %}" alt="Search">
        <form action="/videogames_search/" method="get">
            <input id="keywords" name="keywords" type="text" value="" minlength="3" required />
            <input type="submit" hidden />
        </form>
    </div>
    <div class="leftcolumn">
        {% include "thefiltershop/left_column_games.html"%}
    </div>
    <div class="centercolumn">
        {% block content %}
        {% endblock %}
    </div>
    <div class="rightcolumn">
        {% include "thefiltershop/right_column_games.html"%}
    </div>
{% endblock %}