{% extends "thefiltershop/base.html" %}

{% block main_content %}
<div class="Sub-Menu">
<!-- Glametrix Bold --><a href="{% url 'filtershop_games:index_physical_shops' %}">Under the spotlight!</a>  <a href="{% url 'filtershop_games:physical_artisans_shops' %}">Artisans</a>  <a href="{% url 'filtershop_games:physical_indies_shops' %}">Other shops</a>
<a href="{% url 'filtershop_games:physical_other_shops' %}">Other shops</a>  <a href="{% url 'filtershop_games:physical_shop_filters' %}">Filters for physical shops</a>
</div>
    {% block content %}
    {% endblock %}
{% endblock %}