{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'thefiltershop/style.css' %}">
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="Top-Menu">
    <img src="{% static 'images/Title617x107.png' %}" alt="Logo"><!-- Glametrix Bold --><a href="/">Games</a><a href="{% url 'filtershop_games:index_online_shops' %}">Online Shops</a><a href="/indexRegularShops.html">Regular Shops</a>
    <a href="/indexRegularShops.html">Hall of shame!</a><a href="/indexRegularShops.html">Who are we</a><a href="/indexRegularShops.html">Our mission</a>  <a href="/indexRegularShops.html">Sponsors</a>
    </div>
    {% block main_content %}{% endblock %}
</body>
</html>