{% extends "thefiltershop/base.html" %}

{% block title %}Our curators{% endblock %}

{% block main_content %}
<br/>

{% for curator in all_curators %}
    <div class="one_curator">
        <div class="one_curator_name">
            {{curator.full_name}}
        </div>
        <div class="one_curator_avatar">
        <img src="{{curator.avatar.url}}" alt="{{curator.full_name}}">
        </div>
        <div class="one_curator_biography">
            {{ curator.biography }}<br>
        </div>
        {% if curator.curating_fields.count > 0 %}
            <div class="one_curator_fields">
                Curating for {{ curator.curating_fields.all|join:", " }}.
            </div>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}