{% extends "thefiltershop/base_center_simple.html" %}

{% block title %}Explanations{% endblock %}

{% block title_content %}Explanations{% endblock %}

{% block centersimplecolumn %}
  <h1 id="thefiltershop">The Buoy: let the hidden gems become visible</h1>
  <p>The Buoy is the place where the "non-popular" games on Steam can find their place. </p>

<p>On some other platforms (like Steam), it&#39;s easy to find many good games, but... But for smaller studios that do not master marketing, the chances of being visible are also incredibly low, not matter how good their game is. They can get lucky, but not many can go through.
What we want to do here is to push the good games in front, and the less known they are, the more we will show them! You can see that as floating items: if they are popular they get heavier, if they use bad practice they get an extra-weight. But for these that do not respect you, we go further, we filter them! They might be presented, but they will always be below this filter, even in their own page!</p>
<p>Our goal is simple: create a win-win environment where players discover better games and honest developers have a better chance to succeed.</p>
<h2 id="players">Players</h2>
<p>By using The Buoy, you gain access to a curated selection of games chosen for their quality, originality, and respect for players. The platform focuses especially on small independent studios that are often overlooked by traditional storefront algorithms.</p>
<p>Your help for small studios is mostly out of the Buoy: leave reviews, add games that interest you in your wishlist, add screenshots. Most other shops (and especially Steam) rely on popularity for visibility...</p>
<p>Players can also participate through community events, giveaways, feedback, and discussions that help identify deserving games and studios.
The current place for discussing things around the Buoy is on Reddit: <a href="https://www.reddit.com/r/TheBuoy/">https://www.reddit.com/r/TheBuoy/</a></p>
<h2 id="developers-and-studios">Developers and Studios</h2>
<p>The Buoy primarily supports small independent studios and solo developers.</p>
<p>The Buoy will provide free exposure for your games and marketing tools. One main tool will be the daily giveaway. First from many Steam keys I gathered, then hopefully from all games presented on the Buoy, and when big enough, with a collection of Retro consoles and games that I will give away. These are my own (Nintendo) consoles and games, generally boxed and in a very good shape (aside yellowing plastic and dead batteries): SNES &amp; N64 consoles, SNES, N64, GB, DS and 3DS games. It would be to give a big public start to the Buoy.
If the Buoy got enough traction, we could imagine giving away more physical things, like goodies around our games.</p>
<p>To list a game, developers simply provide:</p>
<ul>
<li>A game website, store page, or Steam page, together with their size (&lt;=5 -&gt; Artisan, &gt;5 &amp; <50 -> Indie, &gt;50, eventually in Best of the Rest).</li>
<li>Review access, preferably through a Steam key.</li>
<li>A few additional Steam keys for curator reviews when possible.</li>
<li>Optional giveaway keys for community events.</li>
</ul>
<p>In return, developers receive visibility, feedback, reviews, and promotion opportunities from a community focused on discovering new games rather than following market trends.</p>
<p>Developers are encouraged to be transparent about their games, especially regarding monetisation and potentially controversial design choices.
Studios caught lying on important aspect (size, bad practices) will arrive in the Hall of Shame. You don&#39;t want that, make sure that this section stays empty ;)</p>
<p><strong>It is intended for released games (or early-access).</strong></p>
<h3 id="direct-sales-and-special-offers">Direct sales and special offers</h3>
<p>We encourage you to directly sale your game. The buoy will only link to your payment page (it can simply be a Paypal page).</p>
<p>It is not only to allow you to earn more on the sale, but also to propose an offer that <em>will not be tracked</em>.</p>
<p>Many player will check a price comparison site before buying a game (I do). It&#39;s great but very dangerous for a small studio: if we give a great special offer, then players might wait for the same price to come back before buying the game.</p>
<p>The Buoy let you propose an offer only on your direct sale and will never give that information via its API (when it will be available). If necessary we will ask the price tracking site to not track us (but they probably only relies on APIs).</p>
<p><em>Be careful that Steam limits how many game you can sell outside of Steam and ask you to match the price. So be careful to not overdo it with Steam keys</em></p>
<h3 id="bonuses">Bonuses</h3>
<p>In the same spirit, you can propose special bonuses with your game. It can be bonuses which are included for all shops(like the OST), or only for direct sales.
These bonuses should be free with the game, we are not considering DLC here (or only if free).</p>
<h3 id="portmaster-android-drm-free-free-versions">Portmaster, Android DRM-Free &amp; Free versions</h3>
<p>The Buoy as the concept of Platform (Windows, Linux, ...) and of shops.</p>
<p>But shops can be extended to:</p>
<ul>
<li><a href="https://portmaster.games/">Portmaster</a>, a Linux Port Manager for Linux Handhelds. For commercial and free games, Portmaster proposes port to run them on Linux Handheld. Typically for a commercial game, players will buy your game in a compatible shop (Steam if the Steam DRM is not an issue, Gog or Itch.io), and Portmaster will had the necessary layer to run it.
Most 2D games are particularly well adapted for these handhelds, so helping with a Portmaster Port could be a good operation.</li>
<li>Android DRM-Free: Most of the more powerful handhelds are using Android. Some are powerful enough to run Google Play Service, some are not. In the last case, proposing your game without using Play Service will allow to run it on those handhelds.</li>
<li>Free versions can also be associated, it could be a different version on Itch.io for instance, or for a very specific platform.</li>
</ul>
<h2 id="curators">Curators</h2>
<p>Curators should become the backbone of The Buoy.</p>
<p>They play games, write short reviews, verify information, and help determine how games are presented on the platform. Their role is not to chase popularity but to identify quality, originality, and player-friendly design.</p>
<p>Curators help maintain the integrity of the platform by:</p>
<ul>
<li>Testing games.</li>
<li>Writing concise reviews and recommendations.</li>
<li>Identifying problematic monetization or deceptive practices.</li>
<li>Highlighting hidden gems.</li>
<li>Helping guide the future direction of the project.</li>
</ul>
<p>Content creators, journalists, reviewers, and passionate players are all welcome.</p>
<h2 id="developers-of-the-buoy">Developers of The Buoy</h2>
<p>The Buoy itself is an open-source project and welcomes contributors of all experience levels.</p>
<p>TheBuoy is fully written in Django with pure CSS, as to have our own identity and have very light CSS, and pure JS, only when needed. It probably could use (a lot) of redesign, but should stay very light. The data stored is also limited in order to keep the costs in check so we can have the buoy sustainable.</p>
<p>There are no minimum time commitments. Contributions can be occasional or long-term, and mentoring is available for less experienced contributors.</p>
<h2 id="the-vision">The Vision</h2>
<p>The Buoy aims to become a sustainable ecosystem for game discovery.</p>
<p>By combining community curation, ethical filtering, and progressive promotion of smaller studios, we want to create an alternative to recommendation systems driven solely by popularity and advertising budgets.</p>
<p>The long-term goal is simple: make it easier for players to find great games and for great developers to be found.</p>
{% endblock %}