{% extends "thefiltershop/base_games.html" %}

{% block title %}{{ a_game.name }}{% endblock %}

{% block content %}

<!-- A Button will switch between the positive and the negative up or down -->
<div class="filters">
    {% for filter in negative_filters %}
        <div class="negative_filters">{{ filter.name }}
            <div class="filter_description">
                <details>
                    <summary>More details</summary>
                    <span>{{ filter.description }}</span>
                </details>
            </div>
        </div>

    {% endfor %}
    {% for filter in positive_filters %}
        <div class="positive_filters">{{ filter.name }}</div>
    {% endfor %}
</div>

<h1>
    <img src="{{title_image.photo.url}}"" alt="{{a_game.name}}" class="game_title_image">
</h1>
<p>{{ a_game.description }}</p>
<div class="grid-container">
    {% for studio in a_game.studios.all %}
        <div class="grid-item">Developed by {{ studio.name }}</div>
        <!-- TODO: Add link to studio page -->
    {% endfor %}
    {% for publisher in a_game.publishers.all %}
        <div class="grid-item">Published by {{ publisher.name }}</div>
        <!-- TODO: Add link to publisher page -->
    {% endfor %}
</div>
<div class="grid-container">
{% for image in screenshots.all %}

    <div class="grid-item">
        <img src="{{image.photo.url}}"" alt="{{image.name}}" width="400px" class="game_screenshot"> 
    </div>
{% endfor %}
</div>

<div class="filters">
    {% for filter in negative_filters %}
        <div class="negative_filters">{{ filter.name }}</div>
    {% endfor %}
    {% for filter in positive_filters %}
        <div class="positive_filters">{{ filter.name }}</div>
    {% endfor %}
</div>

{% endblock %}