{% extends "thefiltershop/base_games.html" %}

{% block title %}{{ a_game.name }}{% endblock %}

{% block title_content %}{{a_game.name}}{% endblock %}

{% block content %}

{% include "thefiltershop/partials/filters_on_top_or_bottom.html" with negative_filters=negative_filters positive_filters=positive_filters is_on_top=True is_filter=is_filter %}

<h1>
    <img src="{{title_image.photo.url}}"" alt="{{a_game.name}}" class="game_title_image">
</h1>
<p>{{ a_game.description }}</p>

{% include "thefiltershop/partials/gauge_hidden_full_cost.html" with hidden_full_cost_value=a_game.hidden_full_cost desc_hidden_full_cost=desc_hidden_full_cost %}

{% include "thefiltershop/partials/gauge_crapometer.html" with crapometer_value=a_game.crapometer %}

<div style="row-container">
    {% for link_to_shop in links_to_shops %}
        <!-- TODO: Replace by shop icon (?) -->
        <a href={{link_to_shop.link}} class="shop_link">Buy on {{ link_to_shop.shop.name }}</a>
    {% endfor %}
</div>

<div style="row-container">
    {% for category in a_game.categories.all %}
        <a class="badge" href="{% url 'filtershop_games:artisans_games' %}?category_id={{ category.id }}">{{ category.name }}</a>
    {% endfor %}
</div>

<div class="grid-container">
    {% for studio in a_game.studios.all %}
        <div class="grid-item">Developed by <a href="{% url 'filtershop_games:studio' studio.id %}" class="image_link">{{ studio.name }}</a></div>
        <!-- TODO: Add link to studio page -->
    {% endfor %}
    {% for publisher in a_game.publishers.all %}
        <div class="grid-item">Published by <a href="{% url 'filtershop_games:publisher' publisher.id %}" class="image_link">{{ publisher.name }}</a></div>
        <!-- TODO: Add link to publisher page -->
    {% endfor %}
</div>
<div class="grid-container">
    {% for image in screenshots.all %}

        <div class="grid-item">
            <img src="{{image.photo.url}}"" alt="{{image.name}}" width="400px" class="game_screenshot"> 
        </div>
    {% endfor %}
</div>

{% include "thefiltershop/partials/filters_on_top_or_bottom.html" with negative_filters=negative_filters positive_filters=positive_filters is_on_top=False is_filter=is_filter %}

<!-- Ratings for the game, including filters as well -->

{% include "thefiltershop/partials/game_rating.html" with ratings_with_filters=ratings_with_filters %}

{% endblock %}