{% extends "thefiltershop/base.html" %}

{% block title %}Best games today{% endblock %}

{% block content %}
<h1>Best games</h1>

{% for game in latest_games %}
    <div class="artisan_game">
    <p>
        <a href="{% url 'filtershop_games:game' game.id %}">{{ game.for_entity.name  }}</a>
    </p>
    <img src="{{game.for_entity.vignette.url}}"" alt="{{game.for_entity.vignette.name}}"> 
    <p>{{ game.for_entity.description }}</p>
    {% for publisher in game.publishers.all %}
        <p>Published by {{ publisher.name }}</p>
    {% endfor %}
    {% for image in game.for_entity.image_set.all %}
        <img src="{{image.photo.url}}"" alt="{{image.name}}" width="500px"> 
    {% endfor %}
    </div>
{% endfor %}
{% endblock %}