<p>
    {% if game.headline is not None %}
        <p>{{ game.headline }}</p>
    {% endif %}
        <p>{{ defaul_headline }}</p>
</p>
<p>
    <a href="{% url 'filtershop_games:game' game.id %}"><img src="{{title_image.photo.url}}"" alt="{{game.name}}"></a>
</p>
<p>{{ game.description }}</p>
<p>{{ game.spotlight_count }} - {{ game.in_the_spotlight_since }}
{% for publisher in game.publishers.all %}
    <p>Published by {{ publisher.name }}</p>
{% endfor %}
{% for image in screenshots.all %}
    <img src="{{image.photo.url}}"" alt="{{image.name}}" width="200px"> 
{% endfor %}