{% extends "thefiltershop/base_online_shops.html" %}

{# Should move to base_physical_shops #}

{% block title %}{{ a_shop.name }}{% endblock %}

{% block content %}

{% include "thefiltershop/partials/filters_on_top_or_bottom.html" with negative_filters=negative_filters positive_filters=positive_filters is_on_top=True %}

<div class="single_shop_view">
    <div>
        <h1>
            <img src="{{a_shop.shop_logo.url}}"" alt="{{a_shop.name}}"  width="400px" class="shop_logo">
        </h1>
        <p>{{ a_shop.description }}</p>

        {% if a_shop.in_hall_of_shame %}
            <div class="hall_of_shame_title">In the hall of shame!</div>
            <div class="hall_of_shame_description">{{ a_shop.descriptionOfShame }}</div>
        {% endif %}
        <div class="grid-container">
            {% for group in a_shop.group.all %}
                <div class="grid-item">Part of {{ group.name }}<img src="{{group.company_logo.url}}" alt="{{group.name}}"  width="400px" class="company_logo"></div>
            {% endfor %}
        </div>

        <div class="grid-container">
            {% for image in a_shop.image_set.all %}
                <div class="grid-item">
                    <img src="{{image.photo.url}}" alt="{{image.name}}" width="400px" class="shop_picture"> 
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="col-container">
        <h1>All games from : {{a_shop.name}}</h1>
        {% for link in a_shop.on_shop.all %}
            <div class="grid-item">
                <a href="{{link.link}}">{{ link.for_Entity  }}</a>
            </div>
        {% endfor %}
    </div>


</div>


{% include "thefiltershop/partials/filters_on_top_or_bottom.html" with negative_filters=negative_filters positive_filters=positive_filters is_on_top=False %}

{% endblock %}