{% extends "thefiltershop/base_physical_shops.html" %}
{# Should move to base_physical_shops #}

{% block title %}{{ a_shop.name }}{% endblock %}

{% block content %}

{% include "thefiltershop/partials/filters_on_top_or_bottom.html" with negative_filters=negative_filters positive_filters=positive_filters is_on_top=True is_filter=is_filter %}

<h1>
    <img src="{{a_shop.vignette.url}}"" alt="{{a_shop.name}}"  width="400px" class="shop_logo">
</h1>
<p>{{ a_shop.description }}</p>

{% include "thefiltershop/partials/gauge_crapometer.html" with crapometer_value=a_shop.crapometer %}

<a class="badge" href="{% url 'filtershop_games:physical_artisans_shops' %}?shop_type={{ a_shop.shop_type }}">{{ a_shop.shop_type }}</a>  

{% if a_shop.in_hall_of_shame %}
    <div class="hall_of_shame_title">In the hall of shame!</div>
    <div class="hall_of_shame_description">{{ a_shop.descriptionOfShame }}</div>
{% endif %}
<div class="grid-container">
    {% for studio in a_shop.group.all %}
        <div class="grid-item">Part of {{ group.name }}<img src="{{group.company_logo.url}}"" alt="{{group.name}}"  width="400px" class="company_logo"></div>
    {% endfor %}
</div>

<div class="grid-container">
    {% for image in a_shop.image_set.all %}
        <div class="grid-item">
            <img src="{{image.photo.url}}"" alt="{{image.name}}" width="400px" class="shop_picture"> 
        </div>
    {% endfor %}
</div>

{% include "thefiltershop/partials/filters_on_top_or_bottom.html" with negative_filters=negative_filters positive_filters=positive_filters is_on_top=False is_filter=is_filter %}

{% endblock %}