<div class="right-side">
  <!-- TBD -->
  <h2>See recommendations from</h2>
  <div class="link-right-side">
    <a href="{% url 'filtershop_games:a_recommender' %}?level_of_contribution=CUR" class="a_link-right-side">Our curators</a>
  </div>
  <div class="link-right-side">
    <a href="{% url 'filtershop_games:a_recommender' %}?level_of_contribution=SPO" class="a_link-right-side">Our sponsors</a>
  </div>
  <div class="link-right-side">
    <a href="{% url 'filtershop_games:a_recommender' %}?level_of_contribution=SSU" class="a_link-right-side">Our super-supporters</a>
  </div>
  <div class="link-right-side">
    <a href="{% url 'filtershop_games:a_recommender' %}?level_of_contribution=SU" class="a_link-right-side">Our supporters</a>
  </div>
</div>