<div class="right-side">
  <!-- TBD -->
  <h2>See recommendations from</h2>
  <div class="link-right-side">
    <a href="{% url 'filtershop_games:indies_games' %}" class="a_link-right-side">Our curators</a>
  </div>
  <div class="link-right-side">
    <a href="{% url 'filtershop_games:indies_games' %}" class="a_link-right-side">Our sponsors</a>
  </div>
  <div class="link-right-side">
    <a href="{% url 'filtershop_games:indies_games' %}" class="a_link-right-side">Our super-supporters</a>
  </div>
  <div class="link-right-side">
    <a href="{% url 'filtershop_games:indies_games' %}" class="a_link-right-side">Our supporters</a>
  </div>
</div>