<nav class="hidden md:flex items-center justify-center">
  <div class="mx-auto">
    <ul class="flex space-x-8 gap-6">
      <li>
        <a href="/" class="text-white hover:text-base-200"
          >Under the spotlight!</a
        >
      </li>
      <li>
        <a
          href="{% url 'filtershop_games:artisans_games' %}"
          class="text-white hover:text-base-200"
          >Artisan's Games</a
        >
      </li>
      <li>
        <a
          href="{% url 'filtershop_games:indies_games' %}"
          class="text-white hover:text-base-200"
          >Indie's Games</a
        >
      </li>
      <li>
        <a href="#" class="text-white hover:text-base-200">Our curators</a>
      </li>
      <li>
        <a href="#" class="text-white hover:text-base-200">Filters for games</a>
      </li>
      <li>
        <a href="#" class="text-white hover:text-base-200">They made it!</a>
      </li>
    </ul>
  </div>
</nav>
