{% extends "thefiltershop/base_games.html" %}

{% block title %}They made it!{% endblock %}

{% block content %}
<h1>
    The games from Artisans and Indies that got popular! Congrats!
</h1>
{% for game in page_obj %}
<div class="one_game">
    <a href="{% url 'filtershop_games:game' game.id %}" class="image_link"><img src="{{game.vignette.url}}"" alt="{{game.name}}"></a>    {{ game.description }}
    <div class="contribution">
        {{game.get_they_have_made_it_display}}
    </div>
<div>
{% endfor %}
<br/>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}