{% extends "thefiltershop/base_online_shops.html" %}

{% block title %}They made it!{% endblock %}

{% block title_content %}They made it!{% endblock %}

{% block content %}
    <h1>
        Artisans and Indies online shops that got popular! Congrats!
    </h1>
    {% if page_obj.object_list.count > 0 %}
        {% for shop in page_obj %}
            <div class="one_game">
                <a href="{% url 'filtershop_games:online_shop' shop.id %}" class="image_link"><img src="{{shop.vignette.url}}"" alt="{{shop.name}}"></a>    {{ shop.description }}
                <div class="contribution">
                    
                        {{shop.get_they_have_made_it_display}}
                    
                </div>
            <div>
        {% endfor %}
    {% elif page_obj.number > 1 %}
        <h2>Nothing here</h2>
    {% else %}
        <h2>None yet, but soon!</h2> 
    {% endif %}
    <br/>
    {% if page_obj.number > 1 or page_obj.has_next%}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}