{% extends "thefiltershop/base_others.html" %}

{% block title %}Who are we?{% endblock %}

{% block title_content %}Who are we?{% endblock %}

{% block content %}
<h1 id="thefiltershop">Who are we: bringing you the filter shop</h1>
<div class="about_us">
  Our team by themselves:<br/>
  <div class="contributor">
    Alain Becam - created the filter shop, wrote and writing most of the back-end: I am the founder of the Filter Shop, after many failed attempts at choosing a stack to develop it, finally went for Django and is happy so far with it.
  I breath Computer Science and have been developing since I was 11. Got an Software published when I was 13, then fully went for it: MSc, PhD, some years as a Researcher, 
  then back to Software engineering, always with an hefty does of sys-admin, for the last 15 years.
  I am interested on the Social impact of Software, including games, and the Filter Shop is a consequence of that. Of course I like most things technical. I also like running, though I don't run so much anymore, 
  theater, including writing for it, but once again not doing it so much (where is time when you need it), music, but... I am absolutely terrible at it!
  <br/><br/>
  </div>
  <div class="contributor">
    Mian Ahmad Shah - front-end guru for the filtershop:
  </div>
{% endblock %}