@font-face {
    font-family: Glametrix;
    src: url(Glametrix.otf);
}

@font-face {
    font-family: Glametrix;
    src: url(GlametrixBold.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: BroshK;
    src: url(BroshK.ttf);
  }
  
  .paint-order {
    paint-order: stroke fill;
    font: 100% BroshK;

    /* https://caniuse.com/mdn-css_properties_paint-order */
    /* default is paint-order: fill stroke */
    /* mdn: https://developer.mozilla.org/en-US/docs/Web/CSS/paint-order */
    display: flex;
      flex-direction: row;
      align-items: left;
  
      /*text-transform: uppercase;*/
      font-size: calc(1rem + min(90px, 15vw));
      font-weight: 800;
      letter-spacing: -.1ch;
      line-height: 0.4;
      color: red;
      -webkit-text-stroke: 5px black;
      text-shadow: 6px 6px rgba(128, 128, 128, 0.384);
      
      > span:first-of-type {
        font-size: 1.01em;
      }
      
      > span {
        display: flex;
        gap: .5ch;
      }
  }
  
.buy_from_dev {
    paint-order: stroke fill;
    font: 120% BroshK;

    /* https://caniuse.com/mdn-css_properties_paint-order */
    /* default is paint-order: fill stroke */
    /* mdn: https://developer.mozilla.org/en-US/docs/Web/CSS/paint-order */
      align-items: left;
  
      /*text-transform: uppercase;*/
      font-weight: 200;
      color: red;
      /*-webkit-text-stroke: 2px rgb(235, 129, 129);*/
      /*text-shadow: 6px 6px rgba(128, 128, 128, 0.384);*/
      
      > span:first-of-type {
        font-size: 1.01em;
      }
      
      /*> span {
        display: flex;
        gap: .5ch;
      }*/
  }

.buy_from_dev a {
  border: 2px solid #707e80;
  border-radius: 10px;
  background: #bbd6d8;
  float: left;
  display: block;
  color: #1c1e1f;
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
}

.buy_from_dev-Menu a:visited {
  color: 1c1e1f;
  background: #bbd6d8;
  background-color: #bbd6d8;
}

/* Change color on hover */
.buy_from_dev a:hover {
  background-color: #b7e2e6;
  color: rgb(55, 134, 115)k;
}


li a {
    color: green;
}

body {
    font: 140% Glametrix;
    background: #d5ffee;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */

.Top-Menu {
  background-color: #aeeed1;
  padding: 10px;
  border-radius: 10px;
}

.Top-Menu a {
  color: black;
  background-color: #aeeed1;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease-in-out;
}

.Top-Menu a:visited {
  color: black;
  background-color: #aeeed1;
}

.Top-Menu a:hover {
  color: black;
  background: #40E29E;
}

.Sub-Menu {
  overflow: hidden;
  background-color: #36d994;
}

.Sub-Menu a {
  border: 2px solid #707e80;
  border-radius: 3px;
  background: #bbd6d8;
  float: left;
  display: block;
  color: #1c1e1f;
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
}

/* Change color on hover */
.Sub-Menu a:hover {
  background-color: #b7e2e6;
  color: rgb(55, 134, 115)k;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 20%;
  height: 100vh;
  background-color: #d5ffee;
  /*background-color: #dafafa;*/
  padding-left: 20px;
  display: flex;
  box-sizing: border-box;
  align-items: baseline;
}

.leftcolumn .left-side .link-left-side {
  padding: 5px;
  text-align: center;
}

/* Right column */
.centercolumn {
  float: left;
  width: 60%;
  background-color: #36d994;
  /*padding-left: 20px;*/
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.content-main {
  padding-right: 20px;
}

/* Padding for text-only pages */
.centersimplecolumn {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* Right column */
.rightcolumn {
  display: flex;
  align-items: baseline;
  float: left;
  width: 20%;
  height: 100vh;
  background-color: #d5ffee;
  /*background-color: #dafafa;*/
  padding-left: 20px;
  /*display: block;*/
  box-sizing: border-box;
}

.rightcolumn .right-side .link-right-side {
  padding: 5px;
  text-align: center;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    /* Hide right column on narrow screens to simplify layout */
  .rightcolumn {
    display: none;
  }
  /* 20% more space for the center column */
  .centercolumn {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .leftcolumn {   
    display: none;
  }

    /* Hide right column on narrow screens to simplify layout */
  .rightcolumn {
    display: none;
  }
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

a {
  color: black;
  background-color: #30d388;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease-in-out;
}

/* visited link */
a:visited {
  color: black;
  background-color: #30d388;
}
  
  /* mouse over link */
  a:hover {
    color: black;
    background: #40E29E;
  }
  
  /* selected link */
  a:active {
    color: black;
    background: #40E29E;
  }

  .image_link {
    border: 0px solid #cfcfcf;
    border-radius: 10px;
    background: none;
    text-decoration: none;
    text-align: center;
  }

  img {
    border-radius: 8px;
  }

  /* Game title image wrapper and sale badges */
  .game-title-wrapper {
    position: relative;
    display: inline-block;
    line-height: 0; /* remove extra gap under img */
  }

  .game_title_image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .sale-badge {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 9px 15px; /* halved */
    border-radius: 9px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.8);
    box-shadow: 0 6px 12px rgba(0,0,0,0.35);
    font-size: 1.425rem; /* halved from 2.85rem */
    white-space: nowrap;
    line-height: 1;
  }

  /* General sale: green-ish */
  .sale-badge-special {
    background: linear-gradient(180deg,#28a745,#1e7e34);
  }

  /* Special sale: red-ish and placed just below if both badges are present */
  .sale-badge-general {
    background: linear-gradient(180deg,#dc3545,#b02a37);
    top: calc(8px + 54px); /* reduced offset for the smaller badge */
  }

  /* Compact inline variant for thumbnails and small cards */
  .sale-badge-inline {
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 0.8rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    top: 6px;
    right: 6px;
  }

  .sale-badge-inline.sale-badge-general {
    top: calc(6px + 26px);
  }

  .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    background: none;
    padding: 5px;
    gap: 10px
  }

  .grid-item {
    background: none;
    border: none;
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

  .single_shop_view {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
  }

  .game-card-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    flex-basis: 0;
    border: none;
    padding: 0.2rem;
    border-radius: 2px;
    max-width: 350px;
    gap: 1rem;
  }
  
  .game-card-wrapper .game-card {
    border: 1px solid black;
    padding: 2rem;
    background-color: azure;
    border-radius: 10px;
    max-width: 330px;
    flex-grow: inherit;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
  }
  
  .game-card .game-card-content p{
    word-wrap: break-word;
    word-break: break-word;
   }

   .game-card .row-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.3rem;
  }

  .badge {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 6px;
    border-radius: 10px;
    background-color: #b7e2e6;
  }

  .filter-section {
  text-align: center;
  }

  .categories-filter {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .positive_filter {
    display: inline-block;
    position: relative;
	  width: 100%;
    height: 70px;
    left: -20px;
    background: none;
    border: none;
    border-radius: 0%;
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    color:rgb(23, 127, 218);
    text-shadow:  1px 1px#cfcfcf;
    padding: 0%;
    vertical-align: middle;
  }

  .positive_filter img {
    position: absolute;
    max-width: 100%;
	  height: 100%;
    top: 0%;
    left: 0%;
    padding: 0%;
  }

  .positive_filter .filter_name {
    display: table-cell;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 25%;
    left: 5%;
    padding: 0%;
    vertical-align: middle;
  }

  .positive_filter .filter_name a {
    padding: 2px 15px;
    border: none;
    border-radius: none;
    background: none;
    text-decoration: none;
    color:rgb(23, 127, 218);
  }
  
  .positive_filter details {
    display: table-cell;
    position: absolute;
    top: 25%;
    left: 30%;
    padding: 0%;
    vertical-align: middle;
  }

.positive_filter details span {
    position: relative;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0%;
    padding: 0%;
    color:rgb(17, 85, 131);
  }

  .negative_filter {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 70px;
    left: -20px;
    background: none;
    border: none;
    border-radius: 0%;
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    color:#e9e9e9;
    text-shadow: 1px 1px #7c7c7c;
    padding: 0%;
    vertical-align: middle;
  }

  .negative_filter img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    padding: 0%;
  }

  .negative_filter .filter_name {
    display: table-cell;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 5%;
    padding: 0%;
  }

  .negative_filter .filter_name a {
    border: none;
    border-radius: none;
    background: none;
    text-decoration: none;
    color:#e9e9e9;
  }

  .negative_filter details {
    display: table-cell;
    position: absolute;
    top: 25%;
    left: 30%;
    padding: 0%;
    vertical-align: middle;
  }

.negative_filter details span {
    position: relative;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0%;
    padding: 0%;
    color:rgb(122, 33, 33);
  }

.header-bar-top {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
 
 .header-bar {
    display: inline-block;
    position: relative;
	  width: 100%;
    height: 50px;
    background: none;
    border: none;
    border-radius: 0%;
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    color:rgb(180, 180, 218);
    text-shadow:  1px 1px #000000;
    padding: 0%;
    vertical-align: middle;
  }

 .header-bar .header-title {
    display: table-cell;
    position: absolute;
    height: 100%;
    top: 25px;
    left: 40%;
    padding: 0%;
  }

  .header-image-block {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
  }

.a_link-left-side,.a_link-right-side {
  padding-right: 4.5%;
  padding-left: 4.5%;
}

.search_input {
  display: flex;
  align-items: center;
}

/* Outer container holding all reviews */
.reviews_block {
    display: flex;
    flex-direction: row;          /* horizontal layout */
    gap: 1rem;
    padding: 1rem;
    /*background-color: #f0f0f0;*/
    border-radius: 8px;
    overflow-x: auto;              /* allows scrolling if many reviews */
}

/* Individual review card */
.review_block {
    display: flex;
    flex-direction: column;
    min-width: 260px;              /* keeps cards readable */
    padding: 1rem;
    background-color: #88bcf8;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* Review text container */
.review_txt {
    margin-top: 0.75rem;
    padding: 0.75rem;
    background-color: #c2e7ff;
    border-radius: 6px;
}

/* Optional text polish */
.review_block p {
    margin: 0.25rem 0;
}

.review_txt p {
    margin: 0;
    color: #444;
    line-height: 1.4;
}

.review_stars_wrapper {
  display: grid;
  place-content: center;
  font-size: clamp(1.5rem, 1rem + 2vw, 15rem);
  font-weight: 700;
}

.review_stars_wrapper_user {
  display: grid;
  place-content: center;
  font-size: clamp(1.5rem, 1rem + 1vw, 5rem);
  font-weight: 700;
}

.review_stars_wrapper > div {
  grid-area: 1/1/-1/-1;
}

.review_stars_wrapper_user > div {
  grid-area: 1/1/-1/-1;
}

.review_stars_clip {
  clip-path: polygon(0 0%, calc((20*var(--review_end_perc)) * var(--u,1%)) 0%, calc((20*var(--review_end_perc)) * var(--u,1%)) 100%, 0% 100%);
  -webkit-text-stroke: 2px rgb(219, 255, 59);
}

.review_stars_clip_bottom {
	clip-path: polygon(calc((20*var(--review_end_perc)) * var(--u,1%)) 0%, 100% 0%, 100% 100%, calc((20*var(--review_end_perc)) * var(--u,1%)) 100%);
	/* color: transparent; */
	/* background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%); */
	/* background: linear-gradient(177deg, black 53%, var(--text-color) 65%); */
	/* background-clip: text; */
	-webkit-background-clip: text;
	/*  transform: translateX(-0.02em); +/
	paint-order: stroke fill;
	/* font: 100% BroshK; */
	display: flex;
	/* flex-direction: row; */
	/* align-items: left; */
	/* text-transform: uppercase; */
	/* font-size: calc(1rem + min(90px, 15vw)); */
	/* font-weight: 800; */
	/* letter-spacing: -.1ch; */
	/* line-height: 0.4; */
	color: transparent;
	-webkit-text-stroke: 1px black;
	text-shadow: 1px 1px rgba(128, 128, 128, 0.384);
}

.bg-fade {
  position: relative;
  width: 100%;
  padding-left: 20px;
  /*min-height: 300px;*/
  overflow: hidden;
}

/* Background layer */
.bg-fade::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  left: 0px;
  height: 600px;
  border-radius: 20px;

  background-image: var(--bg-image);
  background-size: 100%;
  background-repeat: no-repeat;

  /* Fade only the image */
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0.3) 60%,
    rgba(0,0,0,0.2) 80%,
    rgba(0,0,0,0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0.3) 60%,
    rgba(0,0,0,0.2) 80%,
    rgba(0,0,0,0) 100%
  );
}

/* Content stays untouched */
.bg-fade > * {
  position: relative;
  z-index: 1;
}

.random-non-filtered-games
{
  font-size: 1.3rem;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #aeeed1;
}

.random-non-filtered-games h2 {
  padding-top: 2px;
}

.recommendations
{
  font-size: 1.3rem;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #a0dbc0;
}

.recommendations h2 {
  padding-top: 2px;
}

.help_us {
  font-size: 1.3rem;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #f7d794;
}

.help_us h2 {
  padding-top: 2px;
}

.help_us .kofi_support {
  text-align: center;
}

/* ensure ko-fi widget is treated as an inline-block and centered */
.help_us .kofi_support iframe,
.help_us .kofi_support a,
.help_us .kofi_support div {
  display: inline-block;
  margin: 0 auto;
}

/* GitHub link styling */
.help_us .support_links {
  text-align: center;
  margin-top: 8px;
}
.help_us .github_link {
  display: inline-block;
  margin: 0 6px;
  vertical-align: middle;
  background-color: #94dbf7;
}
.help_us .github_link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}
.help_us .github_link img {
  width: 36px;
  height: 36px;
  display: block;
  background: transparent;
}
.help_us .github_text {
  font-size: 0.95rem;
  color: #24292f;
  font-weight: 600;
}