@font-face {
    font-family: Glametrix;
    src: url(Glametrix.otf);
}

@font-face {
    font-family: Glametrix;
    src: url(GlametrixBold.otf);
    font-weight: bold;
  }

li a {
    color: green;
}

body {
    font: 140% Glametrix;
    background: #36d994;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */

.Top-Menu {
  background-color: #30d388;
  padding: 10px;
  border-radius: 10px;
}

.Top-Menu a {
  color: white;
  background-color: #30d388;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease-in-out;
}

.Top-Menu a:visited {
  color: white;
  background-color: #30d388;
}

.Top-Menu a:hover {
  color: white;
  background: var(#36d994);
}

.Sub-Menu {
  overflow: hidden;
  background-color: #36d994;
}

.Sub-Menu a {
  border: 2px solid #707e80;
  border-radius: 3px;
  background: #bbd6d8;
  float: left;
  display: block;
  color: #1c1e1f;
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
}

/* Change color on hover */
.Sub-Menu a:hover {
  background-color: #b7e2e6;
  color: rgb(55, 134, 115)k;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 20%;
  height: 100vh;
  background-color: #38db97;
  /*background-color: #dafafa;*/
  padding-left: 20px;
  display: block;
  box-sizing: border-box;
}

.leftcolumn .left-side .link-left-side {
  padding: 5px;
  text-align: center;
}

/* Right column */
.centercolumn {
  float: left;
  width: 60%;
  background-color: #36d994;
  padding-left: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 20%;
  height: 100vh;
  background-color: #38db97;
  /*background-color: #dafafa;*/
  padding-left: 20px;
  display: block;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.rightcolumn .right-side .link-right-side {
  padding: 5px;
  text-align: center;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

a {
  color: #1c1e1f;
  border: 2px solid #707e80;
  border-radius: 5px;
  background: #bbd6d8;
  text-decoration: none;
}

/* visited link */
a:visited {
    color: #1c1e1f;
    background: #bbd6d8;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(55, 134, 115);
    background: #b7e2e6;
  }
  
  /* selected link */
  a:active {
    color: rgb(79, 148, 100);
    background: #c6e8eb;
  }

  .image_link {
    border: 0px solid #cfcfcf;
    border-radius: 0px;
    background: none;
    text-decoration: none;
    text-align: center;
  }

  img {
    border-radius: 8px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background: none;
    padding: 5px;
    gap: 10px
  }
  .grid-item {
    background: none;
    border: none;
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

  .single_shop_view {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: azure;
    border-radius: 10px;
    max-width: 300px;
    gap: 1rem;
  }
  
  .game-card-content p{
    word-wrap: break-word;
   }

  .row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .badge {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 6px;
    border-radius: 10px;
    background-color: #b7e2e6;
  }

  .filter-section {
  text-align: center;
  }

  .categories-filter {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .positive_filter {
    display: inline-block;
    position: relative;
	  width: 100%;
    height: 70px;
    background: none;
    border: none;
    border-radius: 0%;
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    color:rgb(23, 127, 218);
    text-shadow:  1px 1px#cfcfcf;
    padding: 0%;
    vertical-align: middle;
  }

  .positive_filter img {
    position: absolute;
    max-width: 100%;
	  height: 100%;
    top: 0%;
    left: 0%;
    padding: 0%;
  }

  .positive_filter .filter_name {
    display: table-cell;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 20%;
    padding: 0%;
  }

  .positive_filter .filter_name a {
    border: none;
    border-radius: none;
    background: none;
    text-decoration: none;
    color:rgb(23, 127, 218);
  }
  
  .positive_filter details {
    display: table-cell;
    position: absolute;
    top: 25%;
    left: 30%;
    padding: 0%;
    vertical-align: middle;
  }

.positive_filter details span {
    position: relative;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0%;
    padding: 0%;
    color:rgb(17, 85, 131);
  }

  .negative_filter {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 70px;
    background: none;
    border: none;
    border-radius: 0%;
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    color:#e9e9e9;
    text-shadow: 1px 1px #7c7c7c;
    padding: 0%;
    vertical-align: middle;
  }

  .negative_filter img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    padding: 0%;
  }

  .negative_filter .filter_name {
    display: table-cell;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 20%;
    padding: 0%;
  }

  .negative_filter .filter_name a {
    border: none;
    border-radius: none;
    background: none;
    text-decoration: none;
    color:#e9e9e9;
  }

  .negative_filter details {
    display: table-cell;
    position: absolute;
    top: 25%;
    left: 30%;
    padding: 0%;
    vertical-align: middle;
  }

.negative_filter details span {
    position: relative;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0%;
    padding: 0%;
    color:rgb(122, 33, 33);
  }

.header-bar-top {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
 
 .header-bar {
    display: inline-block;
    position: relative;
	  width: 100%;
    height: 50px;
    background: none;
    border: none;
    border-radius: 0%;
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    color:rgb(180, 180, 218);
    text-shadow:  1px 1px #000000;
    padding: 0%;
    vertical-align: middle;
  }

 .header-bar .header-title {
    display: table-cell;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 25px;
    left: 40%;
    padding: 0%;
  }

.a_link-left-side,.a_link-right-side {
  padding-right: 4.5%;
  padding-left: 4.5%;
}