{% load static %}
{% if not no_button and is_filter %}
<!-- A Button will switch between the filters up or down -->
<script>
<!-- Small logic to toggle visibility-->
function toggleVisibilityFilters(evt) {
    let last_choice = getCookie("filter_view_order"); 
    toggle_button = document.getElementById("button_toggle_filters_pos")

    if (last_choice == "filters_last")
    {
        display_negative_first = "block";
        display_positive_first = "none";

        setCookie("filter_view_order", "filters_first", 30);
        toggle_button.innerText = toggle_button.textContent = 'Show filters at the end';
    }
    else
    {
        display_negative_first = "none";
        display_positive_first = "block";

        setCookie("filter_view_order", "filters_last", 30);
        toggle_button.innerText = toggle_button.textContent = 'Show filters first';
    }
    negative_filters = document.getElementsByClassName("negative_filters");
    for (i = 0; i < negative_filters.length; i++) {
        negative_filters[i].style.display = display_negative_first;
    }
    positive_filters = document.getElementsByClassName("positive_filters");
    for (i = 0; i < positive_filters.length; i++) {
        positive_filters[i].style.display = display_positive_first;
    }
}
</script>
{% endif %}
{% if is_on_top and is_filter and not no_button %}
<button class="button_toggle_filters_pos" onclick="toggleVisibilityFilters('event')" id="button_toggle_filters_pos">Show filters at the end</button>
{% endif %}
{% if is_filter %}
<div class="filters">
    <div class="{% if is_on_top %}negative_filters{% else %}positive_filters{% endif %}" style="display: block;">
    {% for filter in positive_filters %}
        <div class="positive_filter">
            <img src="{% static 'images/FilterGreen.png' %}" alt="Positive Filter" class="positive_filter_img">
            <div class="filter_name">
                <a href={% url 'filtershop_games:one_filter' filter.id %}>{{ filter.name }}</a>
            </div>
            <details>
                <summary>More details</summary>
                <span>{{ filter.description }}</span>
            </details>
        </div>
    {% endfor %}
    {% for filter in negative_filters %}
        <div class="negative_filter">
            <img src="{% static 'images/FilterRed.png' %}" alt="Negative Filter" class="negative_filter_img">
            <div class="filter_name">
                <a href={% url 'filtershop_games:one_filter' filter.id %}>{{ filter.name }}</a>
            </div>
            <details>
                <summary>More details</summary>
                <span>{{ filter.description }}</span>
            </details>
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}
{% if not no_button and is_filter %}
    <script>
        // Working as it is called twice (top & bottom)
        document.getElementById("button_toggle_filters_pos").click();
    </script>
{% endif %}