<div class="grid-container">

    {% for game in page_obj %}
        <div class="game-card">
            <div class='game-card-content'>
                <img src="{{game.vignette.url}}" alt="{{game.name}}"/>
    
                <p>{{ game.description }}</p>
                <a href="{% url 'filtershop_games:game' game.id %}" class="image_link">Read More</a>  
            </div>
            <div style="row-container">
            {% for category in game.categories.all %}
                <a class="badge" href="{% url 'filtershop_games:indies_games' %}?category_id={{ category.id }}">{{ category.name }}</a>
            {% endfor %}
            </div>  
        </div>

    {% endfor %}
    <br/>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% if selected_category %}category_id={{ selected_category }}&{% endif %}page=1">&laquo; first</a>
            <a href="?{% if selected_category %}category_id={{ selected_category }}&{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        
        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        
        {% if page_obj.has_next %}
            <a href="?{% if selected_category %}category_id={{ selected_category }}&{% endif %}page={{ page_obj.next_page_number }}">next</a>
            <a href="?{% if selected_category %}category_id={{ selected_category }}&{% endif %}page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>