<div class="one_sponsor">
  <div class="one_sponsor_name">
      {{sponsor.name}}
  </div>
  <div class="one_sponsor_logo">
  <img src="{{sponsor.sponsor_logo.url}}" alt="{{sponsor.name}}">
  </div>
  <div class="one_sponsor_description">
      {{ sponsor.description }}<br>
  </div>
</div>


<div class="recommend-title"> Recommending </div>
<div class="filter-section">
  <h2>Filter By Category</h2>
  <div class="categories-filter">
    <a href="?from={{ sponsor.id }}" class="badge">All</a>
    {% for category in categories %}
        <a class="badge" href="?from={{ sponsor.id }}&category_id={{ category.id }}">{{ category.name }}</a>
    {% endfor %}
  </div>
</div>
<div class="col-container">

  {% for game_review in page_obj %}
  <div class="game-card-wrapper">
      <div class="game-card">
          <a href="{% url 'filtershop_games:game' game_review.game.id %}" class="image_link">
              <div class='game-card-content'>
                  <img src="{{game_review.game.vignette.url}}" alt="{{game_review.game.name}}"/>
  
                  <p>{{ game_review.game.description }}</p>

                  <p>{{ game_review.review_txt }}</p>

                  <p>{{ game_review.note }}</p>
              </div>
          </a>
          <div class="row-container">
          {% for category in game_review.game.categories.all %}
              <a class="badge" href="{% url 'filtershop_games:artisans_games' %}?category_id={{ category.id }}">{{ category.name }}</a>
          {% endfor %}
          </div>  
      </div>
  </div>

  {% endfor %}
  <br/>
</div>

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?from={{ sponsor.id }}&{% if selected_category %}category_id={{ selected_category }}&{% endif %}page=1">&laquo; first</a>
          <a href="?from={{ sponsor.id }}&{% if selected_category %}category_id={{ selected_category }}&{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      
      <span class="current-page">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
      
      {% if page_obj.has_next %}
          <a href="?from={{ sponsor.id }}&{% if selected_category %}category_id={{ selected_category }}&{% endif %}page={{ page_obj.next_page_number }}">next</a>
          <a href="?from={{ sponsor.id }}&{% if selected_category %}category_id={{ selected_category }}&{% endif %}page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>